#tabelwarna { width: 250px;}
th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 6px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}
td {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	padding: 6px 6px 6px 6px;
}

tr.alt {
	background: #F5FAFA;
	color: #797268;
}

tr.alts {
	background:#FFF;
	color: #797268;
}

* html .threepxfix{
margin-left: 3px;
}
