/* == rounded ==
/*Round corner sideboxes*/

.xrounded h1, .zrounded h1 {
margin:0; 
font-size:1.2em; 
padding:0 8px 3px 8px; 
border-bottom:1px solid #d0d0d0;
}
.xrounded p, .zrounded p {
margin:0; 
padding:5px 0; 
font-size:10px;
line-height:125%;
}
.xrounded {
background: transparent; 
width:900px;   /*Adjust the width here*/
float:left; 
margin: 0px 15px 0px 15px;
line-height:125%;
}
.xtop, .xbottom {
display:block; 
background:transparent; 
font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 {
display:block; 
overflow:hidden;
}
.xb1, .xb2, .xb3 {
height:1px;
}
.xb2, .xb3, .xb4 {
background:#fff; 
border-left:1px solid #d0d0d0;
border-right:1px solid #d0d0d0;
}
.xb1 {
margin:0 5px; 
background:#d0d0d0;
}
.xb2 {
margin:0 3px;
border-width:0 2px;
}
.xb3 {
margin:0 2px;
}
.xb4 {
height:2px; 
margin:0 1px;
}

.xboxcontent {
display:block; 
border:0 solid #d0d0d0; 
border-width:0 1px; 
height:auto;
background:#fff;
}

div.xboxcontent div{
padding: 0 4px 0 8px;

}

* html .xboxcontent {
height:1px;
}

.color_white {
background: #FFFFFF; /* Change the top part color here*/
color:#000;
}

.color_a {
background: #A5D3FF; /* Change the top part color here*/
color:#lime;
}
      
.color_b {
background: brown; /* Change the top part color here*/
color:red;
}
/* END rounded == */

table .dalam {
	margin: 0; 
	padding: 0;
}

/* END - 

/* MENU UNIT */

#content_menu {
	position: relative;
	height: 495px;
	/*margin: auto;
	//background-color:#8cc;
	*/
}

img.logo{
		position: absolute;
		width: 89px;
		height: 61px;
		opacity:1.0;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
		-moz-opacity:1.0;
		-khtml-opacity:1; 
}

img.logo:hover{
	width: 92px;
	height: 64px;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=8); 
	-moz-opacity:0.8;
	-khtml-opacity:0.8; 
}

/* END MENU UNIT */


/* garis penghubung */
			#garis
			{
				position: relative;
			}

			.line
			{
				position: absolute;
				height: 0px;
				border-width: 4px 0px 0px 0px;
				border-style: solid;
				border-color: lime;
			}
		
.form_isi {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}